<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	<title>summary</title>
</head>
<body>
	<header>
	<div class="container">
	<form action="{{url_for('summary')}}" method="POST">
		<input type="text" name="url" id="url">
		<input type="submit" value="summarize">
	</form>
	</div>	
	</header>
	{% block content %}{% endblock %}
</body>
</html>
